@media only screen and (max-width: 600px) {
  .contactDesktop{
    display: none;
  }
  .contactMobile{
    margin-top: 16%;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
  }
  #messageMobile{
    width: 100%;
    background-color: #42f54b;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
}
@media only screen and (min-width: 600px) {
   .contactMobile{
     display: none;
   }
   .contactDesktop{
     width: 60%;
     margin-left: 20%;
     margin-right: 20%;
     margin-top: 7%;
   }
   #messageDesktop{
     width: 100%;
     background-color: #42f54b;
     color: white;
     text-align: center;
     padding: 10px;
   }
  
   
}