@media only screen and (max-width: 600px) {
    .details{
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
    }
}
@media only screen and (min-width: 600px) {
   .details{
       margin-top: 10%;
   }
   .details p{
       text-align: right;
   }
}