@media only screen and (max-width: 600px) {
    .contactmeDesktop{
        display: none;
    }
    .desktopForm{
      display: none;
    }
    .contactmeMobile #pMobile{
        text-align: center;
      }
    .contactmeMobile #iwhatsapp{
      color: #34eb3a;
      font-size: 32px;
      margin-left: 35%;
    }
    .contactmeMobile #iphoneIcon{
        color:#25252b;
        font-size: 32px;
        margin-left: 10%;
    }
   
}
@media only screen and (min-width: 600px) {
 .contactmeMobile{
     display: none;
 }
 .contactmeDesktop{
   display: flex;
 }
 .contactmeDesktop p{
   padding-right: 10px;
 }
 .contactmeDesktop a{
   padding-left: 10px;
   font-family: "Times New Roman", Times, serif;
   color: #2a2e33;
 }

}