@media only screen and (max-width: 600px) {
  .desktopHeader{
    display: none;
  }
  
  #languageHeaderMobile{
    margin-top: 15%;
    margin-right: 5%;
  }
  .mobileHeader img{
    width: 25px;
     margin-left: 4px;
     margin-top: 4px;
     margin-right: 6px;

  }
  .menuHeader{
    width: 100%;
    margin-top: 18%;
  }
  .menuHeader p{
    padding-left: 10%;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(219, 197, 197);
    color: #76857a;
    font-size: 14px;
  }
}
@media only screen and (min-width: 600px) {
   .mobileHeader{
     display:none ;
   }
   .title{
     font-weight: bold;
     font-family: "Lucida Console", "Courier New", monospace;
   }
   .desktopHeader{
     width: 80%;
     margin-left: 10%;
   }
   #languageHeaderMobile{
     display: none;
   }
   .desktopHeader img{
     width: 30px;
     
   }
}