@media only screen and (max-width: 600px) {
  .desktopHeader{
    display: none;
  }
  .desktopHeader{
    width: 100%;
  }
  #languageHeaderMobile{
    margin-top: 15%;
    margin-right: 5%;
  }
  .menuHeader{
    width: 100%;
    margin-top: 16%;
  }
  .menuHeader p{
    padding-left: 10%;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(219, 197, 197);
  }
}
@media only screen and (min-width: 600px) {
   .mobileHeader{
     display:none ;
   }
   .desktopHeader{
     width: 80%;
     margin-left: 10%;
   }
   #languageHeaderMobile{
     display: none;
   }
}