@media only screen and (max-width: 600px) {
    .mainMobile{
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 20%;
    }
    .mainDesktop{
        display: none;
    }
    #desktopImage{
        display: none;
    }
    p{
        font-family: "Times New Roman", Times, cursive;
        font-size: 16px;
        color: #3e4e69;
        padding-left: 15px;
    }
     h3{
        font-family: "Times New Roman", Times, cursive;
        color: #3e4e69;


       
    }
    h5{
        font-family: "Times New Roman", Times, cursive;
        color: #3e4e69
    }
     h6{
        padding-left: 15px;
    }
  }
@media only screen and (min-width: 600px) {
    .mainDesktop{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;
    }
    .mainMobile{
        display: none;
    }
    #mobileImage{
        display: none;
    }
   
}