@media only screen and (max-width: 600px) {
    .mainMobile{
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 20%;
    }
    .mainDesktop{
        display: none;
    }
    #desktopImage{
        display: none;
    }
  }
@media only screen and (min-width: 600px) {
    .mainDesktop{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 10%;
    }
    .mainMobile{
        display: none;
    }
    #mobileImage{
        display: none;
    }
}