@media only screen and (max-width: 600px) {
   .projects{
     width: 96%;
     margin-left: 2%;
     margin-right: 2%;
     margin-top: 20%;
   }
   #firstseg{
       margin-top: 30px;
   }
   #title{
       display: none;
   }
   .projects p{
    color: #76857a;
    font-family: "Times New Roman", Times, serif;
   }
  }
  @media only screen and (min-width: 600px) {
      .projects{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 7%;
   }
   .projects #firstseg{
       display: flex;
   }
   #title{
       padding-left: 10px;
   }
 
  }