@media only screen and (max-width: 600px) {
   .displayItem #iframe{
       width: 100%;
       height: 250px;
   }
  }
@media only screen and (min-width: 600px) {
   .displayItem #iframe{
     width: 500px;
     height: 350px;
     margin-left: 20px;
   }
}