@media only screen and (max-width: 600px) {
    .videosDisplay{
        display: block;
    }
  }
@media only screen and (min-width: 600px) {
    .videosDisplay{
        display: flex;
        margin-top: 10%;
    }
    .videosDisplay #videoDisplays{
        width: 46%;
        margin-right: 4%;
    }
    .videosDisplay #videoList{
        width: 46%;
        margin-left: 4%;
    }
}