@media only screen and (max-width: 600px) {
    #theweather{
        margin-top: 30%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
  }
@media only screen and (min-width: 600px) {
    #theweather{
        margin-top: 10%;
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}